.save-the-date-bg {
  padding: 20px;
  text-align: center;
}

.save-the-date {
  font-size: 6em;
}
.save-the-date-label{
  position: absolute;
  width: 100%;
  top: 30%;
}

.save-the-date-date {
  font-size: 3em;
  position: absolute;
  top: 50%;
  left: 50%;
}

@media (max-width: 590px) {
  .save-the-date {
    font-size: 4em;
  }
}