.save-the-date-bg {
  padding: 20px;
  text-align: center;
}

.save-the-date {
  font-size: 6em;
}

.save-the-date-label{
  width: 100%;
  top: 30%;
  h1 {
    margin-bottom: -0.4em;
  }
}

.save-the-date-date {
  font-size: 3em;
  top: 55%;
  left: 50%;
}

.xlarge {
  font-size: 8em;
}

@media (max-width: 590px) {
  .save-the-date {
    font-size: 4em;
  }
  .xlarge {
    font-size: 6em;
  }
}

.col {
  padding: 10px;
  float: left; 
}

.left {
  width: 45%;
}

.right {
  width: 45%;
}

.middle {
  width: 10%;
}

.middleLarge {
  width: 20%;
}

.leftSmall {
  width: 40%;
}

.rightSmall {
  width: 40%;
}

.left-center-right:after {
    content: "";
    display: table;
    clear: both;
}

.timetable table td {
  border: none;
}

.timetable table {
  width: auto;
  left: 30%;
  position: relative;
}


li.photos {
  display: block;
  text-align: left;
  padding-left: 40%;
}

li.photos a {
  color: #16344e;
}

li.photos a i {
  padding-right: 5px;
}

li.photos a:hover i {
  text-shadow: 0 0 6px #f7d202;
}