<nav class="navbar is-transparent" role="navigation">
  <div class="navbar-brand">
    <a class="navbar-item logo" routerLink="/">
      <img src="../assets/images/tree_blue.jpg" style="height:38px"> Sarah & Matthias    
    </a>

    <button class="button navbar-burger btn" data-target="navMenu" (click)='toggleMobile()'>
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>

 <div class="navbar-menu" id="navMenu" *ngIf="!auth.currentUser">
    <div class="navbar-end">

     <!-- <a class="navbar-item" routerLink="/">Hochzeit</a>
      <a class="navbar-item" routerLink="/gettingThere">Anreise</a>
      <a class="navbar-item" routerLink="/hotel">Unterkunft</a>
      <a class="navbar-item" routerLink="/faq">FAQ</a> -->
      
    </div>
  </div> 
  
  <div class="navbar-menu" id="navMenu" *ngIf="auth.currentUser">
    <div class="navbar-end">

<!--
        <a class="navbar-item" routerLink="/">Hochzeit</a>
        <a class="navbar-item" routerLink="/gettingThere">Anreise</a>
        <a class="navbar-item" routerLink="/hotel">Unterkunft</a>
        <a class="navbar-item" routerLink="/faq">FAQ</a>
-->
        
    </div>
  </div>

</nav>
