<nav class="navbar is-transparent" role="navigation">
  <div class="navbar-brand">
    <a class="navbar-item logo" routerLink="/">
      <img src="../assets/images/tree_blue.jpg" style="height:38px"> Sarah & Matthias    
    </a>

    <button class="button navbar-burger btn" data-target="navMenu" (click)='toggleMobile()'>
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>

 <!-- <div class="navbar-menu" id="navMenu" *ngIf="!auth.currentUser">
    <div class="navbar-end">

      <a class="navbar-item" routerLink="/">Hochzeit</a>
      <a class="navbar-item" routerLink="/hotel">Location</a>
      <a class="navbar-item" routerLink="/">FAQ</a>

    </div>
  </div> -->
  
  <div class="navbar-menu" id="navMenu" *ngIf="auth.currentUser">
    <div class="navbar-end">

    <!--  <a class="navbar-item" routerLink="/">Hochzeit</a>
      <a class="navbar-item" routerLink="/hotel">Unterkunft</a>
      <a class="navbar-item" routerLink="/">FAQ</a>
    -->


     <!-- <a class="navbar-item" title=".." *ngIf="auth.isCivil">
        Standesamt
      </a>
      <a class="navbar-item" title="..">
        Kirche
      </a>
      <a class="navbar-item" title="..">
        Sonstiges
      </a>
    -->
      <div class="navbar-item has-dropdown is-hoverable" style="background: #fdf498;box-shadow: 0px 0px 20px #b5b1af;">
        <a class="navbar-link">
          {{ auth.currentUserDisplayName }}
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item" (click)="editUser = true" href="javascript://">Meine Daten</a>
          <hr class="navbar-divider">
          <a class="navbar-item" (click)="doLogout()" href="javascript://">abmelden</a>
        </div>
      </div>
    </div>
  </div>

  <div class="navbar-menu" id="navMenu" *ngIf="!auth.currentUser">
    <div class="navbar-end">
      <a class="navbar-link" href="/login" >
        login
      </a>
    </div>
  </div>

</nav>

<div class="modal {{editUser? 'is-active' : ''}}">
    <div class="modal-background"></div>
    <div class="modal-content" style="background:white;padding:20px;border-radius:3px;">
        <user-edit-dialog [topNav]="this"></user-edit-dialog>
    </div>
    <button class="modal-close is-large" aria-label="close" (click)="editUser=false;"></button>
</div>