<footer class="footer">

    <div style="float:left;padding-left:20%;">
        <span style="line-height: 1em;padding: 0;font-size: 1em;" class="navbar-item">Bitte nimm dir kurz Zeit und melde dich hier an:</span>
        <span style="line-height:0.8em;font-size: 0.8em;">Alle weiteren Infos findest du auf den nächsten Seiten.</span>
    </div>
    <button class="btn btn-login" (click)="showLogin=true;">login</button>

    <div class="modal {{showLogin? 'is-active' : ''}}">
        <div class="modal-background"></div>
        <div class="modal-content" style="background:white;padding:20px;border-radius:3px;">
            content

        </div>
        <button class="modal-close is-large" aria-label="close" (click)="showLogin=false;"></button>
    </div>

</footer>