<footer class="footer">

    <div style="text-align: center;">

        schon zugesagt? 

        <a style="padding-left:2em; font-weight: bold" (click)="editUser=true" href="javascript://">hier zusagen </a>

    </div>

    <div style="text-align: right;
        line-height: 0px;
        font-size: smaller;
        margin-right: 0px;" *ngIf="!auth.currentUser">
        <a style="color: white" title="login" href="/login">anmelden </a>
    </div>

</footer>

<div class="modal {{editUser? 'is-active' : ''}}">
    <div class="modal-background"></div>
    <div class="modal-content" style="background:white;padding:20px;border-radius:3px;width: 80%">
        <user-edit-dialog [topNav]="this"></user-edit-dialog>
    </div>
    <button class="modal-close is-large" aria-label="close" (click)="editUser=false;"></button>
</div>
