.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;

    box-shadow: 0px -10px 50px white;
  }

  .btn-login {
    float: left;
    margin-left: 30px; 
    background-color: #d15d55;
    border-radius: 3px;
    padding: 8px 20px;
  }

  @media (max-width: 590px) {
    .btn-login {
      margin-left: 20%;
    }
  }