<div>
  <div>
    <i *ngIf="note.status == 'neu'" class="fa fa-star" title="neu"></i>
    <i *ngIf="note.status == 'ToDo'" class="fa fa-check-circle" title="ToDo"></i>
    <i *ngIf="note.status == 'done'" class="fa fa-check" title="done"></i>

    <h4 style="float:left">{{note.title}}</h4>

    <i *ngIf="note.priority == 'wichtig'" class="fa fa-exclamation-triangle" title="wichtig" style="color:#a30a0a"></i>
    <i *ngIf="note.priority == 'info'" class="fa fa-info" title="info" style="color:gray"></i>

    <button class="btn" title="löschen" (click)="deleteNote()" style="float:right;">
      <i class="fa fa-trash" style="color:#a30a0a"></i>
    </button>
    <button class="btn" title="bearbeiten" (click)="showNewNote=!showNewNote;" style="float:right;">
      <i class="fa fa-pencil"></i>
    </button>
  </div>

  <br/>

  <div *ngFor="let t of content">
    <span style="width: 15%; display:inline-block;padding-left: 10px;">{{t.key}}</span>
    <span>{{t.value}}</span>
  </div>

  <hr>
</div>