<h1>Notizen</h1>

<div style="float:right;margin-top:-50px">
  <button class="btn" title="neue Notiz..." (click)="newNote();" style="padding-right: 20px">
    <i class="fa fa-plus"></i>
  </button>

  <button class="btn" title="Liste herunterladen" disabled="disabled">
    <i class="fa fa-download"></i>
  </button>
</div>


<div class="modal {{showNewNote? 'is-active' : ''}}">
  <div class="modal-background"></div>
  <div class="modal-content" style="background:white;padding:20px;border-radius:3px;">
    <h1>Neue Notiz</h1>
    <div>
      <div style="display:inline-block;width:100%;">
        <input [(ngModel)]="currSimpleNote.topic" placeholder="Thema" class="input" style="float:left; width: 200px">
       <!-- <select [(ngModel)]="currSimpleNote.priority" class="input" style="float:right; width: 100px;margin-left: 20px;">
          <option *ngFor="let priority of priorities" [ngValue]="priority">{{priority}}</option>
        </select> -->
      </div>

      <input [(ngModel)]="currSimpleNote.title" placeholder="Titel" class="input">

      <div class="list" style="width: 80%">
        <div style="padding-left: 20px" *ngFor="let c of currSimpleNote.content">
          <input style="width: 180px;" [(ngModel)]="c.key" placeholder="Label" class="input" (change)="addContent()">
          <textarea [(ngModel)]="c.value" placeholder="Text" class="input" style="height: 50px; margin-left: 20px"> </textarea>
        </div>
      </div>

    </div>

    <button class="button is-success" (click)="createNote();">
      hinzufügen
    </button>

  </div>
  <button class="modal-close is-large" aria-label="close" (click)="showNewNote=false; showEditNote=false;"></button>
</div>


<div class="modal {{showEditNote? 'is-active' : ''}}">
  <div class="modal-background"></div>
  <div class="modal-content" style="background:white;padding:20px;border-radius:3px;">
    <h1>Notiz {{currSimpleNote.title}} bearbeiten</h1>
    <div>
      <div style="display:inline-block;width:100%;">
        <input [(ngModel)]="currSimpleNote.topic" placeholder="Thema" class="input" style="float:left; width: 200px">
        <select [(ngModel)]="currSimpleNote.state" class="input" style="float:right; width: 100px;margin-left: 20px;">
          <option *ngFor="let state of states" [ngValue]="state">{{state}}</option>
        </select>
       <!-- <select [(ngModel)]="currSimpleNote.priority" class="input" style="float:right; width: 100px;margin-left: 20px;">
          <option *ngFor="let priority of priorities" [ngValue]="priority">{{priority}}</option>
        </select> -->
      </div>

      <input [(ngModel)]="currSimpleNote.title" placeholder="Titel" class="input">

      <div class="list" style="width: 80%">
        <div style="padding-left: 20px" *ngFor="let c of currSimpleNote.content">
          <input style="width: 180px;" [(ngModel)]="c.key" placeholder="Label" class="input" (change)="addContent()">
          <textarea [(ngModel)]="c.value" placeholder="Text" class="input" style="height: 50px; margin-left: 20px"> </textarea>
        </div>
      </div>

    </div>

    <button class="button is-success" (click)="createNote();">
      speichern
    </button>

  </div>
  <button class="modal-close is-large" aria-label="close" (click)="showNewNote=false; showEditNote=false;"></button>
</div>


<div *ngFor="let t of notes | async">
  <div (click)="t.expanded = t.expanded? false : true">
    <h3>
      <i class="fa fa-chevron-down"></i> {{t.topic}} ({{t.notes.length}})</h3>
  </div>
  <div *ngIf="t.expanded" style="padding-left: 20px;">
    <div *ngFor="let n of t.notes">
      <div>
        <div>
          <!-- <i *ngIf="n.status == 'neu'" class="fa fa-star" title="neu"></i>
          <i *ngIf="n.status == 'ToDo'" class="fa fa-check-circle" title="ToDo"></i>
          <i *ngIf="n.status == 'done'" class="fa fa-check" title="done"></i> -->

          <h4>{{n.title}}</h4>

          <!-- <i *ngIf="n.priority == 'wichtig'" class="fa fa-exclamation-triangle" title="wichtig" style="color:#a30a0a"></i>
          <i *ngIf="n.priority == 'info'" class="fa fa-info" title="info" style="color:gray"></i>-->

          <button class="btn" title="löschen" (click)="deleteNote(t, n)" style="float:right;">
            <i class="fa fa-trash" style="color:#a30a0a"></i>
          </button>
          <button class="btn" title="bearbeiten" (click)="editNote(n);" style="float:right;">
            <i class="fa fa-pencil"></i>
          </button>
        </div>

        <div *ngFor="let c of n.content">
          <span style="width: 15%; display:inline-block;padding-left: 10px;">{{c.key}}</span>
          <span>{{c.value}}</span>
        </div>

        <hr>
      </div>
    </div>
  </div>
</div>