<div>
  <h1 style="font-size: x-large;">Anmelden</h1>

  <div class="left-center-right">
    <div>
      <h4>Single Sign On</h4>

      <br/>

      <div style="text-align: center; display: inline-grid; width: 100%; padding: 20px;">
        <a (click)="signInWithFacebook()" class="btn-facebook btn">facebook login
          <i class="fa fa-facebook" style="padding-left:10px;padding-right:15px;"></i>
        </a>

        <a (click)="signInWithGoogle()" class="btn-google btn">Google+ login
          <i class="fa fa-google-plus" style="padding-left:10px;padding-right:25px;"></i>
        </a>

        <br/>

      </div>

    </div>

  </div>

</div>