<div *ngIf="!auth.currentUser; else logout">

  <a class="nav-item" (click)="displayLoginForm=!displayLoginForm;" href="javascript://" style="font-weight: normal;">
      Login
  </a>

  <div *ngIf="displayLoginForm" class="login-overlay" (mouseleave)="displayLoginForm = false;">
    <a (click)="showLogin=!showLogin; showRegister = false;" href="javascript://">&gt; Anmelden</a>

    <div *ngIf="showLogin" style="padding-left: 100px">
      <user-form></user-form>
    </div>
    <br/>

    <a (click)="showSocialMedia=!showSocialMedia; showRegister = false; showLogin = false;" href="javascript://">&gt; Social Media Login </a>

    <div *ngIf="showSocialMedia">
      <button (click)="signInWithGoogle()" class="btn-social btn-google" title="Login mit Google +" ng-show="showSocialMedia">
            <i class="fa fa-google-plus"></i>
          </button>
      <button (click)="signInWithFacebook()" class="btn-social btn-facebook" title="Login mit Facebook">
            <i class="fa fa-facebook"></i>
          </button>
      <button (click)="signInAnonymously()" class="btn-social btn-anonymous" title="Anonymer Login">
            <i class="fa fa-user"></i>
          </button>
    </div>
    <br/>
    <br/>


    <a (click)="showRegister=!showRegister; showLogin = false;" href="javascript://">&gt; Registrieren</a>

    <div *ngIf="showRegister" style="padding-left: 100px">
      <new-user-form> </new-user-form>
    </div>

  </div>
</div>




<ng-template #logout>
  <a class="nav-item" (click)="displayLogout=!displayLogout;" href="javascript://" style="font-weight: normal;">
    {{ auth.currentUserDisplayName }}
  </a>

  <div *ngIf="displayLogout" class="login-overlay"  (mouseleave)="displayLogout = false;">
    <a (click)="doLogout()" href="javascript://">Abmelden</a>
  </div>

    <a class="nav-item" routerLink="/guests" style="font-weight: normal;">
      Gäste
    </a>
    <a class="nav-item" routerLink="/items" style="font-weight: normal;">
      Realtime DB
    </a>

</ng-template>