.login-overlay {
    position: absolute;
    top: 45px;
    background: white;
    border: 1px solid gray;
    text-align: left;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0px 0px 10px grey;
}