<div>

  <div class="tabs">
    <ul>
      <li class="{{active=='user' ? 'is-active' : ''}}">
        <a (click)="active='user';">Meine Daten</a>
      </li>

      <li class="{{active=='conf' ? 'is-active' : ''}}">
        <a (click)="active='conf';">Zu-/Absage</a>
      </li>

   <!--   <li class="{{active=='remarks' ? 'is-active' : ''}}">
        <a (click)="active='remarks';">Anmerkungen</a>
      </li> -->
    </ul>
  </div>


  <div *ngIf="active=='user'">

    <div *ngFor="let guest of guests | async">
      <div *ngIf="guest.id == auth.currentUserId">
        <h2>Name</h2>
        <div style="padding-left: 20px">
          <input [(ngModel)]="guest.name" placeholder="Name" class="input">
        </div>

        <h2>Kontakt</h2>
        <div style="padding-left: 20px">
          <input [(ngModel)]="guest.email" placeholder="eMail" class="input">
          <input [(ngModel)]="guest.phone" placeholder="Telefon" class="input">
          <textarea style="height: 100px;" [(ngModel)]="guest.address" placeholder="Adresse" class="input"></textarea>
        </div>

      <!--  <button class="button is-success" (click)="updateUserAndNext(guest);" style="float:right">
          weiter
        </button>
      -->

        <button class="button is-success" (click)="updateUser(guest);" style="float:right; margin-right: 20px;">
          speichern
        </button>


      </div>

    </div>


  </div>

  <div *ngIf="active=='conf'">
    <span>Sorry - noch zu früh... Dieser Teil kommt im Februar...</span>
  
   <!-- 
     <span>Wirst du mit ums am 1.9.2018 feiern?</span> 
    <button class="button" (click)="updateUser(guest);" style="float:right; margin-right: 20px;">
        nein - ich würd ja gerne aber...
    </button>
    <button class="button" (click)="updateUser(guest);" style="float:right; margin-right: 20px;">
        hmmm - definitiv Jein...
    </button>
    <button class="button" (click)="updateUser(guest);" style="float:right; margin-right: 20px;">
        Ja ich will! Ich bin dabei!
    </button>

    <hr/>

    <button class="button is-success" (click)="updateUserAndNext(guest);" style="float:right">
      weiter
    </button>

    <button class="button is-success" (click)="updateUser(guest);" style="float:right; margin-right: 20px;">
      speichern
    </button>
  -->
  </div>

  <div *ngIf="active=='remarks'">
    <h1 style="font-size: x-large;">Meine Daten</h1>
  </div>

</div>