<div>

  <div class="tabs">
    <ul>
      <li class="{{active=='user' ? 'is-active' : ''}}">
        <a>Meine Daten</a>
      </li>

      <li class="{{active=='guests' ? 'is-active' : ''}}">
        <a>Gästedaten</a>
      </li>

      <li class="{{active=='remarks' ? 'is-active' : ''}}">
        <a>Anmerkungen</a>
      </li>

      <li class="{{active=='music' ? 'is-active' : ''}}">
        <a (click)="active='music';">Musikwunsch</a>
      </li> 

    </ul>
  </div>

  <!-- schon zugesagt  - test ?? -->


  <div *ngIf="active=='user'">

    <!-- <div style="padding-bottom: 1.5em;font-size: small;">
      <span style="float:right"><a href="#">Hier </a> kannst du überprüfen, ob du bereits zugesagt hast.</span>
    </div>
  -->

    <h2>Name</h2>
    <div style="padding-left: 20px">
      <input [(ngModel)]="guest.name" placeholder="Name" class="input">
    </div>

    <h2>Kontakt</h2>
    <div style="padding-left: 20px">
      <input [(ngModel)]="guest.email" placeholder="eMail" class="input">
      <input [(ngModel)]="guest.phone" placeholder="Telefon" class="input">
      <textarea style="height: 100px;" [(ngModel)]="guest.address" placeholder="Adresse" class="input"></textarea>
    </div>

    <button class="button is-success" (click)="updateUserAndNext(guest, 'guests');" style="float:right; margin-right: 20px">weiter</button>
    <button class="button is-secondary" (click)="close();" style="float:right; margin-right: 20px;">abbrechen</button>

  </div>



  <div *ngIf="active=='guests'">

    <div class="left-center-right" style="margin-top: 20px">
  
      Wir sind
      <input type="number" [(ngModel)]="guest.adultCount" class="input" style="width: 50px; vertical-align: baseline; margin-left: 10px; margin-right: 10px;" (change)="updateCount()">Erwachsene und
      <input type="number" [(ngModel)]="guest.childCount" class="input" style="width: 50px; vertical-align: baseline; margin-left: 10px; margin-right: 10px;" (change)="updateCount()">Kinder
  
    </div>

    <div style="padding-top: 10px">
      <span>Erwachsene</span>
      <div *ngFor="let adult of guest.adults">
        <input [(ngModel)]="adult.name" placeholder="Name" class="input" style="margin-left: 5%; width: 95%">
      </div>
      <span>Kinder</span>
      <div *ngFor="let child of guest.children">
        <input [(ngModel)]="child.name" placeholder="Name" class="input" style="margin-left: 5%; width: 95%">
      </div>
    </div>

    <button class="button is-success" (click)="updateUserAndNext(guest, 'remarks');" style="float:right; margin-right: 20px">weiter</button>
    <button class="button is-secondary" (click)="close();" style="float:right; margin-right: 20px;">abbrechen</button>

  </div>



  <div *ngIf="active=='remarks'">
    <div style="padding-bottom: 1.5em;">
      Sollten wir irgendwelche besonderen Wünche berücksichtigen? <br/> (Abholen beim Bahnhof, vegetarisches Essen, Allergien, Kindermenu, ... ?)
    </div>

    <textarea [(ngModel)]="guest.remarks" style="width: 90%; height: 100px;margin-left: 20px; margin-bottom: 5%"></textarea>


    <button class="button is-success" (click)="updateUserAndNext(guest, 'music');" style="float:right; margin-right: 20px;">weiter</button>
    <button class="button is-secondary" (click)="close();" style="float:right; margin-right: 20px;">abbrechen</button>

  </div>

  <div *ngIf="active=='music'">
    <div style="padding-bottom: 1.5em;">
      Hilf uns für die Feier am Abend mit einem Musikwunsch! (Dürfen natürlich auch mehrere sein)
    </div>

    <textarea [(ngModel)]="guest.music" style="width: 90%; height: 100px;margin-left: 20px; margin-bottom: 5%"></textarea>


    <button class="button is-success" (click)="saveUser(); close(); " style="float:right; margin-right: 20px;">speichern</button>
    <button class="button is-secondary" (click)="close();" style="float:right; margin-right: 20px;">abbrechen</button>

  </div>

</div>