<div>

  <div class="tabs">
    <ul>
      <li class="{{active=='user' ? 'is-active' : ''}}">
        <a (click)="loadUser(); active='user';">Meine Daten</a>
      </li>

      <li class="{{active=='conf' ? 'is-active' : ''}}">
        <a (click)="loadUser(); active='conf';">Zu-/Absage</a>
      </li>

      <li class="{{active=='remarks' ? 'is-active' : ''}}">
        <a (click)="loadUser(); active='remarks';">Anmerkungen</a>
      </li>
    </ul>
  </div>


  <div *ngIf="active=='user'">

    <div *ngFor="let guest of guests | async">
      <div *ngIf="guest.id == auth.currentUserId">
        <h2>Name</h2>
        <div style="padding-left: 20px">
          <input [(ngModel)]="guest.name" placeholder="Name" class="input">
        </div>

        <h2>Kontakt</h2>
        <div style="padding-left: 20px">
          <input [(ngModel)]="guest.email" placeholder="eMail" class="input">
          <input [(ngModel)]="guest.phone" placeholder="Telefon" class="input">
          <textarea style="height: 100px;" [(ngModel)]="guest.address" placeholder="Adresse" class="input"></textarea>
        </div>

        <button class="button is-success" (click)="updateUser(guest);" style="float:right">
            speichern
        </button>

      </div>

    </div>


  </div>

  <div *ngIf="active=='conf'">
    <h1 style="font-size: x-large;">zusagen</h1>
  </div>

  <div *ngIf="active=='remarks'">
    <h1 style="font-size: x-large;">Meine Daten</h1>
  </div>

</div>