<h1>Gästeliste</h1>

<div style="float:right;margin-top:-50px">
  <button class="btn-social" title="neuer Gast..." (click)="shwoNewGuest=!shwoNewGuest;" style="padding-right: 20px">
    <i class="fa fa-plus"></i>
  </button>

  <button class="btn-social" title="Import aus Excel" (click)="shwoNewGuest=!shwoNewGuest;">
    <i class="fa fa-upload"></i>
  </button>

  <button class="btn-social" title="Liste herunterladen" (click)="shwoNewGuest=!shwoNewGuest;">
    <i class="fa fa-download"></i>
  </button>
</div>

<div *ngIf="shwoNewGuest">
  <input [(ngModel)]="guest.firstname" placeholder="Vorname" class="input">
  <input [(ngModel)]="guest.name" placeholder="Nachnname" class="input">
  
  <input [(ngModel)]="guest.email" placeholder="eMail" class="input">

  <input [(ngModel)]="guest.phone" placeholder="Telefon" class="input">
  <textarea [(ngModel)]="guest.address" placeholder="Adresse" class="input" style="height: 150px;"></textarea>
  

  <div style="text-align:right">
    <label for="NrOfAdults" style="padding-right: 20px;line-height: 30px;">Anzahl Erwachsene</label>
    <input [(ngModel)]="guest.adults" class="input" size="2" style="width:80px;">
  </div>
  <div style="text-align:right">
    <label for="NrOfChildren" style="padding-right: 20px;line-height: 30px;">Anzahl Kinder</label>
    <input [(ngModel)]="guest.children" class="input" size="2" style="width:80px;">
  </div>
  
  <textarea [(ngModel)]="guest.remarks" placeholder="Anmerkungen" class="input" style="height: 150px;"></textarea>

  <button class="button is-success" (click)="createGuest()" [disabled]="guest.email?.length < 1">
    hinzufügen
  </button>
  
  <hr/>
</div>

<table>
  <tr>
    <th>Name</th>
    <th>Kontakt</th>
    <th>Gäste</th>
    <th>Anmerkungen</th>
  </tr>
  <tr *ngFor="let guest of guests | async">
    <td>{{guest.firstname}} {{guest.name}}</td>
    <td title="{{guest.email}} &#013;{{guest.phone}} &#013;{{guest.address}}">{{guest.email}}</td>
    <td>{{guest.adults}} Erwachsene, {{guest.children}} Kinder</td>
    <td title="{{guest.remarks}}">{{guest.remarks | slice:0:10}}</td>
  </tr>
</table>

<div *ngFor="let guest of guests | async">
  <note-detail [note]="guest"></note-detail>
</div>


