<h1>Gästeliste</h1>

<div style="float:right;margin-top:-50px">
  <button class="btn" title="neuer Gast..." (click)="showNewGuest=!showNewGuest;" style="padding-right: 20px">
    <i class="fa fa-plus"></i>
  </button>

  <button class="btn" title="Import aus Excel" (click)="showNewGuest=!showNewGuest;">
    <i class="fa fa-upload"></i>
  </button>

  <button class="btn" title="Liste herunterladen" (click)="showNewGuest=!showNewGuest;">
    <i class="fa fa-download"></i>
  </button>
</div>

<div class="modal {{showNewGuest? 'is-active' : ''}}">
  <div class="modal-background"></div>
  <div class="modal-content" style="background:white;padding:20px;border-radius:3px;">
    <div style="padding-left: 20px">
      <input [(ngModel)]="guest.name" placeholder="Name" class="input">
    </div>

    <!-- TODO - toggle -->
    <span>
      <i class="fa fa-chevron-down"></i> Kontakt</span>
    <div style="padding-left: 20px">
      <input [(ngModel)]="guest.email" placeholder="eMail" class="input">
      <input [(ngModel)]="guest.phone" placeholder="Telefon" class="input">
      <textarea style="height: 100px;" [(ngModel)]="guest.address" placeholder="Adresse" class="input"></textarea>
    </div>

    <span>
      <i class="fa fa-chevron-down"></i> Teilnehmer</span>
    <div style="padding-left: 20px">
      <span>Erwachsene</span>
      <div *ngFor="let adult of guest.adults">
        <input [(ngModel)]="adult.name" placeholder="Name" class="input" (change)="addAdult()">
      </div>
      <span>Kinder</span>
      <div *ngFor="let child of guest.children">
        <input [(ngModel)]="child.name" placeholder="Name" class="input" (change)="addChild()">
      </div>
      <span style="font-size: small">(Bite Namen der Teilnehmer angeben, weitere Zeilen erscheinen automatisch, letzte Zeile einfach leer lassen.)</span>
    </div>

    <span>
      <i class="fa fa-chevron-down"></i>Anmerkungen</span>
    <div style="padding-left: 20px">
      <textarea [(ngModel)]="guest.remarks" placeholder="Anmerkungen" class="input" style="height: 150px;"></textarea>
    </div>

    <div *ngIf="auth.isAdmin">
        <span>
          <i class="fa fa-chevron-down"></i>Admin</span>
          <div style="padding-left: 20px">
            <input [(ngModel)]="guest.greeting" placeholder="Anrede" class="input">
            <input [(ngModel)]="guest.state" placeholder="Status" class="input">
            <input [(ngModel)]="guest.loginToken" placeholder="login tokens" class="input">
            <select [(ngModel)]="guest.civil" class="input" type="checkbox"   >Standesamt</select>
            <textarea [(ngModel)]="guest.hiddenRemarks" placeholder="Anmerkungen" class="input" style="height: 150px;"></textarea>
          </div>
    </div>

   

    <!--
    <input [(ngModel)]="guest.email" placeholder="eMail" class="input">

    <input [(ngModel)]="guest.phone" placeholder="Telefon" class="input">
    <textarea [(ngModel)]="guest.address" placeholder="Adresse" class="input" style="height: 150px;"></textarea>
    

    <div style="text-align:right">
      <label for="NrOfAdults" style="padding-right: 20px;line-height: 30px;">Anzahl Erwachsene</label>
      <input [(ngModel)]="guest.adults" class="input" size="2" style="width:80px;">
    </div>
    <div style="text-align:right">
      <label for="NrOfChildren" style="padding-right: 20px;line-height: 30px;">Anzahl Kinder</label>
      <input [(ngModel)]="guest.children" class="input" size="2" style="width:80px;">
    </div>
    
    <textarea [(ngModel)]="guest.remarks" placeholder="Anmerkungen" class="input" style="height: 150px;"></textarea>
  
  -->
    <button class="button is-success" (click)="createGuest(); showNewGuest=false;">
      speichern
    </button>

  </div>
  <button class="modal-close is-large" aria-label="close" (click)="showNewGuest=false;"></button>
</div>

<table>
  <tr>
    <th>Name</th>
    <th>Kontakt</th>
    <th>Gäste</th>
    <th>Anmerkungen</th>
  </tr>
  <tr ngInit="alert('test');" *ngFor="let guest of guests | async" (click)="showUser(guest)">
    <td>{{guest.name}}</td>
    <td title="{{guest.email}} &#013;{{guest.phone}} &#013;{{guest.address}}">{{guest.email}}</td>
    <td>{{guest.adults}} Erwachsene, {{guest.children}} Kinder</td>
    <td title="{{guest.remarks}}">{{guest.remarks | slice:0:10}}</td>
  </tr>

  <tr style="font-weight: bold">
    <td>Total</td>
    <td></td>
    <td>{{guests | async | sum:'adults'}} Erwachsene, {{guests | async | sum:'children'}} Kinder</td>
    <td></td>
  </tr>
</table>


<div class="modal {{showGuestDetails? 'is-active' : ''}}">
  <div class="modal-background"></div>
  <div class="modal-content" style="background:white;padding:20px;border-radius:3px;">

    <h3>Details für {{guest.name}}</h3>

    <div class="list">
      <div>
        <p>id</p>
        <p>{{guest.id}}</p>
      </div>
      <div>
        <p>Anrede</p>
        <p>{{guest.greeting}}</p>
      </div>
      <div>
        <p>Name</p>
        <p>{{guest.name}}</p>
      </div>
      <div>
        <p>Kontakt</p>
        <p>{{guest.email}}
          <br/>{{guest.phone}}
          <br/>{{guest.address}}</p>
      </div>
      <div>
        <p>Gäste</p>
        <p>{{guest.adults}} Erwachsene, {{guest.children}} Kinder</p>
      </div>
      <div>
        <p>Anmerkungen</p>
        <p>{{guest.remarks}}</p>
      </div>
    </div>

    <button class="button is-warning" (click)="deleteGuest(guest)">
      entfernen
    </button>
    <button class="button is-success" (click)="editGuest(guest); showNewGuest=true;">
      bearbeiten
    </button>
  </div>

  <button class="modal-close is-large" aria-label="close" (click)="showGuestDetails=false;"></button>
</div>