<div id="wrapper" *ngIf="auth.currentUser; else noUser">

  <div *ngIf="isAdmin(auth.currentUser)">
    <top-nav-admin></top-nav-admin>
  </div>

  <div class="content columns">
    <main style="width:100%;">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>


  <div id="wrapper" *ngIf="false">
    <div>
      <top-nav></top-nav>

      <div class="content columns">
        <main style="width:100%;">
          no admin...
          <router-outlet></router-outlet>
        </main>
      </div>
    </div>
  </div>


  <ng-template #noUser>
    <top-nav></top-nav>
    ... TODO - no user page
  </ng-template>