
<form [formGroup]="userForm"   (ngSubmit)="login()">

  <label for="email">Email</label>
  <input type="email" id="email" class="input"
         formControlName="email" required >

  <div *ngIf="formErrors.email" class="help is-danger">
    {{ formErrors.email }}
  </div>

  <label for="password">Passwort</label>
  <input type="password" id="password" class="input"
         formControlName="password" required >

  <div *ngIf="formErrors.password" class="help is-danger">
    {{ formErrors.password }}
  </div>

  <button type="submit" class="button" [disabled]="!userForm.valid">Anmelden</button>

  <a *ngIf="!passReset && userForm.controls.email.valid" class="help is-info" (click)="resetPassword()">Passwort für {{userForm.value.email}} zurücksetzen?</a>
  <p *ngIf="passReset" class="help is-info">Passwort zurückgesetzt, Sie erhalten in Kürze eine eMail.</p>


</form>
